.custom-select-input {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    background: #f5f8fa;
    border-radius: 10px;
    text-align: center;
    border: #f1f2f6;
  }
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 0.7291666666666666vw !important;
    color: #262626;
    text-align: center;
  }

  //.css-261
}

.css-1qtbrjq-option {
  background-color: #f5f8fa !important;
}
@media screen and (max-width: 1387px) and (min-width: 1200px) {
  .css-tlfecz-indicatorContainer {
    padding: 6px;
  }
  .css-319lph-ValueContainer {
    padding: 2px 2px;
  }
}
